.login-wrapper {
  width: 328px;
  margin:0px auto;
  padding-top:200px;
}

.login-container{
  background-image: url(./background_blue.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.loginLogo {
 width: 230px;
 text-align: center;
}
